<% content_for :title do -%>
<%= t("site.music") %>
<% end -%>

<div class="grid_6">
  <div class="albuns">
    <%= image_tag("eueela.jpg", :border => 0, :class => "album-selected", :id => 'eueela', :width => 170, :height => 170) %>
    <%= image_tag("otemposalta.jpg", :border => 0, :id => 'otemposalta', :width => 170, :height => 170) %>
    <%= image_tag("dinda-small-square.jpg", :border => 0, :id => 'dinda', :width => 170, :height => 170) %>
    <%= image_tag("quequeceque.jpg", :border => 0, :id => 'quequeceque', :width => 170, :height => 170) %>
  </div>
  <div class="album" style="display: block;" id="album-eueela">
    <h2>Eu e Ela (2016)</h2>
    <div class="clear">&nbsp;</div>
    <p><%= raw(t("site.eueela")) %></p>

    <h2><%= t("site.songs") %></h2>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F282406259&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
    <div class="clear">&nbsp;</div>
    <div class="songs">

    </div>
  </div>

  <div class="album" style="display: block;" id="album-otemposalta">
    <h2>O Tempo Salta (2013)</h2>
    <div class="clear">&nbsp;</div>
    <p><%= raw(t("site.otemposalta")) %></p>

    <h2><%= t("site.songs") %></h2>
<iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F6562818&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
    <div class="clear">&nbsp;</div>
    <div class="songs">
      <ol>
        <li class="song"><strong>Acho</strong> (Carlos Careqa)
            <div>
            <p>Acho que fiz meia música pra você<br>
            Aceita minha meia música<br>
            Desculpa o meu vexame<br>
            De fazer meia música pra você</p>

            <p>Acho que fiz meio amor com você<br>
            Aceita meu amor ao meio<br>
            Meu sonho de sedutor<br>
            De fazer meio amor com você
            </p>

            <p>Acho que quero ser meio de você<br>
            Metade da metade<br>
            Da super felicidade<br>
            Do meio que provoca o teu prazer </p>

            <p>Acho que meio amigo seu eu vou ser<br>
            Aceita meia amizade<br>
            O resto é banalidade<br>
            Meio amigos é o que podemos ter</p>

            <p>Música, amor<br>
            Música, amor<br>
            Amizade, felicidade<br>
            Amizade, felicidade<br>
            Prazer em conhecer<br>
            Prazer em conhecer<br>
            Música</p>
            </div>
        </li>
        <li class="song"><strong>Lágrima de Amor</strong> (Tiê Alves)
          <div>
            <p>Não há nada que oriente      <br>
            O meu pensamento vão            <br>
            Nem a lua e as estrelas         <br>
            Olhos cegos guiarão             <br>
            O colírio da paisagem           <br>
            Seca a faca amola o chão        <br>
            Dos teus olhos de serpente      <br>
            Escondi meu coração</p>

            <p>E a beleza não perdura           <br>
            Só o tempo que durar             <br>
            O amor que agora esqueço         <br>
            Mal acaba de chegar              <br>
            Quando a solidão vacila          <br>
            Chove o riso, nasce a flor       <br>
            Canto um tango,                  <br>
            esfaqueio essa lágrima de amor</p>

            <p>Não há nada que me salve         <br>
            Desse amor de cabaré                <br>
            Nem um beijo de novela              <br>
            Bem-me-quer ou mal-me-quer          <br>
            Me transformo em um bicho           <br>
            Jogo fora toda dor                  <br>
            Canto um tango,                     <br>
            esfaqueio essa lágrima de amor</p>

            <p>E o que antes era vidro           <br>
            Diamante se tornou                   <br>
            Não sou mais sentimental             <br>
            Aprendi com minha dor                <br>
            Quando a solidão vacila              <br>
            Chove o riso, nasce a flor           <br>
            Canto um tango,                      <br>
            esfaqueio essa lágrima de amor</p>

            <p>Arranca a pele                     <br>
            Unha-tambor                           <br>
            Canção desesperada eu sou             <br>
            Engole a garganta                     <br>
            Pisa na flor                          <br>
            Sozinho nesse filme de amor</p>
          </div>
        </li>
        <li class="song"><strong>Chorando em 2001</strong> (Chico Mello / Carlos Careqa)
          <div>
            <p>sei de cor
            <br>aquilo que não sei
            <br>o mundo não tá acabando não
            <br>não vou ficar chorando
            <br>no fundo tá começando assim
            <br>que nem choro de gente
            <br>que nem choro de João
            <br>chorando em 2001
            <br>chorando em 2001
            <br>chorando
            <br>
            <br>quem fala: ouve, não escuta tá
            <br>não vê que estou cantando
            <br>a morte e fria, feia e não discuta vá
            <br>fazendo outros planos
            <br>o seu Antonio viu que vem a chuva
            <br>pra horta florescer
            <br>que sem a água
            <br>não fazia vida
            <br>que nem choro de João
            <br>que não fazia sol na despedida
            <br>do choro
            <br>da vida
            <br>dos planos
            <br>da gente
            <br>do mundo
            <br>
            <br>chorando em 2001
            <br>chorando em lugar nenhum
            <br>chorando pra nenhum
            <br>chorando, chorando em 2001
            <br>
            <br>se o choro é bom então eu choro quando
            <br>só não falo com ninguém
            <br>o tudo nada desafinando o sol
            <br>sabendo eu nada sei
            <br>no fim do mundo sei que sempre tem um tal
            <br>sorrindo pra ser ninguém
            <br>sem ter lugar no trem
            <br>
            <br>chorando em 2001
            <br>chorando em 2001
            <br>chorando em 2001
            <br>chorando</p>
          </div>
        </li>
        <li class="song"><strong>Novamente</strong> (Fred Martins / Alexandre Lemos)
          <div>
            <p>Me disse vai embora, eu não fui
            <br>Você não dá valor ao que possui
            <br>Enquanto sofre, o coração intui
            <br>Que ao mesmo tempo que magoa o tempo
            <br>O tempo flui
            <br>E assim o sangue corre em cada veia
            <br>O vento brinca com os grãos de areia
            <br>Poetas cortejando a branca luz
            <br>E ao mesmo tempo que machuca o tempo me passeia
            <br>
            <br>Quem sabe o que se dá em mim?
            <br>Quem sabe o que será de nós?
            <br>O tempo que antecipa o fim
            <br>Também desata os nós
            <br>Quem sabe soletrar adeus
            <br>Sem lágrimas, nenhuma dor
            <br>Os pássaros atrás do sol
            <br>As dunas de poeira
            <br>O céu de anil no pólo sul
            <br>A dinamite no paiol
            <br>Não há limite no anormal
            <br>É que nem sempre o amor
            <br>É tão azul
            <br>
            <br>A música preenche sua falta
            <br>Motivo dessa solidão sem fim
            <br>Se alinham pontos negros de nós dois
            <br>E arriscam uma fuga contra o tempo
            <br>O tempo salta</p>
          </div>
          </li>
        <li class="song"><strong>Trem das Cores</strong> (Caetano Veloso)
          <div>
            <p>A franja da encosta cor de laranja
            <br>Capim rosa-chá
            <br>O mel desses olhos luz,
            <br>mel de cor ímpar
            <br>
            <br>O ouro ainda não bem verde da serra
            <br>A prata do trem
            <br>A lua e a estrela
            <br>Anel de turquesa
            <br>
            <br>Os átomos todos dançam, madruga
            <br>Reluz neblina
            <br>Crianças cor de romã entram no vagão
            <br>
            <br>O oliva da nuvem chumbo ficando pra trás da manhã
            <br>E a seda azul do papel que envolve a maçã
            <br>
            <br>As casas tão verde e rosa que vão passando ao nos ver passar
            <br>Os dois lados da janela
            <br>E aquela num tom de azul quase inexistente, azul que não há
            <br>Azul que é pura memória de algum lugar
            <br>
            <br>Teu cabelo preto, explícito objeto
            <br>Castanhos lábios
            <br>Ou, pra ser exato,lábios cor de açaí
            <br>
            <br>E aqui, trem das cores, sábios projetos:
            <br>Tocar na Central
            <br>E o céu de um azul celeste celestial</p>
          </div>
          </li>
        <li class="song"><strong>Choro</strong> (Kleber Albuquerque)
          <div>
            <p>Quando caio                                               <br>
            Quando caio eu me machuco                                    <br>
            Quando me machuco eu choro com direito de chorar             <br>
            E se eu choro                                                <br>
            Choro com direito                                            <br>
            Eu choro                                                     <br>
            Só que quanto mais eu choro mais demoro a levantar</p>

            <p>E se eu choro e me demoro      <br>
            E não levanto                     <br>
            Fico sentado chorando             <br>
            E vou deixando de brincar</p>

            <p>Então eu lembro que a vida é brincadeira <br>
            Vivo sem eira nem beira                     <br>
            Eu gosto muito de brincar</p>

            <p>Aí levanto e já começo a correria     <br>
            É tanta gente no meio dessa folia        <br>
            É pega-pega, é corre-corre, é capoeira,  <br>
            É tanta gente no meio dessa zoeira</p>


          </div>
          </li>
        <li class="song"><strong>Passarim</strong> (Zé de Riba)
            <div>
              <p>Andaram falando mal de mim
              <br>Sem motivo e sem razão
              <br>Porque eu ando feliz assim
              <br>Feito passarim em chuva de verão
              <br>
              <br>Andaram falando mal de mim
              <br>Sem motivo e sem razão
              <br>Porque eu ando feliz assim
              <br>Feito passarim em chuva de verão
              <br>
              <br>Então vou dar o motivo e a razão
              <br>É que meu coração está sendo amado
              <br>Não tenho tempo de prestar muito atenção
              <br>Em coração que anda desocupado</p>
            </div>
        </li>
        <li class="song"><strong>Canção de Desmeninar</strong> (Douglas Germano)
          <div>
          <p>Dorme meu herói do morro.                <br>
          Teu berço sem forro vai te acalentar.       <br>
          Corre Boi da cara preta.                    <br>
          Não basta careta pra te assustar.           <br>
          Essa gruta espanta Cuca,                    <br>
          que dirá Bicho papão e Saci,                <br>
          tem medo de alçapão.</p>

          <p>Dorme que estás mais seguro               <br>
          por trás deste muro que num carrossel.       <br>
          Dorme que teu sono apaga o limite duro       <br>
          entre inferno e céu.                         <br>
          Dorme o teu sono à-toa,                      <br>
          aproveita pra sonhar.                        <br>
          Pesadelo mesmo, é despertar.</p>

          </div>
        </li>
        <li class="song"><strong>Realmente</strong> (João Marcondes)
          <div>
            <p>Anoitece calmo na favela
            <br>Na janela logo ela
            <br>A mais bela do lugar
            <br>Musa estonteante
            <br>Tem a sina de viver a esperar
            <br>
            <br>Ouve equidistante os peregrinos do trabalho
            <br>Maus meninos, um boemeo a dedilhar
            <br>Malicionsamente um samba antigo
            <br>Que acabara de lembrar
            <br>
            <br>Tudo vira e gira treme e passa
            <br>Movimenta os poucos quadros
            <br>Da parede sem pintar
            <br>Sei lá, reza pra chegar
            <br>Sei lá se o amor existe
            <br>Ou simplesmente já não há
            <br>
            <br>Por entre as ruas desse mundo
            <br>Entre as curvas de outros corpos
            <br>Em conversar por aí
            <br>Ela realmente alí parada
            <br>Aparenta se exibir
            <br>
            <br>Quando bem de longe avista o homem
            <br>Se perfuma toda e some
            <br>As cortinas vão fechar
            <br>Logo o hemisfério vai sentir
            <br>Dama da noite pelo ar</p>
          </div>
        </li>
        <li class="song"><strong>Véu</strong> (Joca Freire / Daniel Borges)
          <div>
            <p>Não bem assim, mas ao seu jeito
            <br>Despediu-se do seu homem
            <br>Que jogou o barco ao mar
            <br>
            <br>Ele jurou que voltaria
            <br>A vida dela foi passando
            <br>Com o vestido de pano
            <br>E o coração no imenso mar
            <br>
            <br>Dia a dia a esperar
            <br>Naquela praia quem passava
            <br>Perguntava: “quem é ela
            <br>sempre em frente a vigiar?”
            <br>
            <br>Não demorou e alguma gente
            <br>Com seu jeito impertinente
            <br>Ia à praia pra zombar
            <br>Fazendo choça da garota
            <br>Apelidaram-na de “noiva
            <br>que com o mar se fez casar”
            <br>
            <br>Os caranguejos a imitavam
            <br>Dando voltas a seu lado
            <br>Esperando o ano passar
            <br>
            <br>Não houve asilo, nem hospício,
            <br>Hospital ou sacrifício
            <br>Que tirasse ela de lá
            <br>
            <br>Seu cabelo embranqueceu
            <br>E feito um véu desvaneceu
            <br>Até a morte ir lá buscar
            <br>
            <br>E quem zombava
            <br>Hoje em dia acredita
            <br>Que a moça lá da praia
            <br>Espera junto de Iemanjá
            <br>
            <br>E que assim às vezes bate uma saudade
            <br>Ela passeia pela praia
            <br>Quando é noite de luar</p>
          </div>
        </li>
        <li class="song"><strong>Obrigado</strong> (Lucy Casas)
          <div>
            <p>Deus me deu, Deus me deu, Deus me deu  <br>
            Vida que Deus me deu                      <br>
            Obrigada</p>

            <p>Deus me deu, Deus me deu, Deus me deu<br>
            Vida que Deus me deu<br>
            Obrigada</p>

            <p>Eu vejo anjo pra todo lado</p>

            <p>Eu tô no céu, você também<br>
            Verdade é,<br>
            Tem sempre alguém que está por perto<br>
            E salva pátria,<br>
            Lava a alma e estende a mão</p>
          </div>
        </li>
      </ol>
    </div>
  </div>

    <div class="album" style="display: block;" id="album-dinda">
      <h2>Dinda - single (2013)</h2>
      <div class="clear">&nbsp;</div>
      <p><%= raw(t("site.dinda1")) %><br><br>
      <%= raw(t("site.dinda2")) %>
      </p>
      <h2><%= t("site.songs") %></h2>
  <iframe width="100%" height="200" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F63202313&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>
      <div class="clear">&nbsp;</div>
      <div class="songs">
        <ol>
          <li class="song"><strong>Dinda</strong> (Joel Damasceno)
              <div>
                <p>Queria que a verdade fosse como um fruto<br>
                que a gente alcançasse à qualquer minuto<br>
                fosse como um doce<br>
                e que terna fosse que me iluminasse<br>
                como a luz da tarde que o azul me trouxe<p>

                <p>Queria que meu barco se fizesse ao largo<br>
                se soltasse ao vento<br>
                que não fosse amargo nem magoasse tanto<br>
                que plantasse auroras de contentamento<br>
                como a paz lá fora apaziguando um canto</p>

                <p>Felicidade mora logo atrás do muro<br>
                ali onde os namorados se enrolam no escuro<br>
                ali onde a noite cai dos claros do estrelado<br>
                ali se abre um corpo em fogo ensolarado</p>

                <p>Ela se faz de tonta e ele se faz de burro<br>
                “meu amor te amo” “meu amor eu juro”<br>
                “meu amor promete” “ meu amor me deixa”<br>
                no final de contas fazem no chão duro</p>

                <p>Queria um só momento essa tranqüilidade<br>
                que se vê nas folhas balançando ao vento<br>
                quando o vento mexe<br>
                remexendo as flores sol raiando em cores<br>
                no girando gira de algum catavento</p>

                <p>Eu só queria Dinda um adeus ainda<br>
                das morenas lindas no final da festa<br>
                quando eu for embora<br>
                pra seguir cantando um último chorinho<br>
                dar um abraço em todas prá  seguir  sozinho</p>

                <p>Queria ser alpinista pra escalar teu corpo<br>
                e me perder de vista na rosa dos ventos<br>
                eu só queria um dia da tua geografia<br>
                ao sul do teu umbigo depravado e amigo</p>

                <p>Ao norte eu colheria em teu pomar os figos<br>
                de aplacar meu sonho de acalmar a sanha<br>
                e ser o seu  amor com muito ardor e manha<br>
                nas manhãs de fogo sobre tuas montanhas</p>
              </div>
          </li>
        </ol>
      </div>
    </div>

  <div class="album" id="album-quequeceque">
    <h2>Qué que cê qué? (2009)</h2>
    <div class="clear">&nbsp;</div>
    <p><%= raw(t("site.cd1")) %></p>
    <p><%= raw(t("site.cd2")) %></p>
    <p><%= raw(t("site.cd3")) %></p>
    <p><%= raw(t("site.cd4")) %></p>

    <h2><%= t("site.songs") %></h2>
    <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F426329&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false"></iframe>

    <div class="clear">&nbsp;</div>
    <div class="songs">
      <ol>
        <li class="song"><strong>Qué que cê Qué?</strong> (Carlos Careqa)
          <div>
        	<p>Você não entende de sexo
        	<br>Você não entende de nada
        	<br>Você não entende de anjo
        	<br>Você não entende de fada
        	<br>Qué que cê qué?
        	<br>Qué que cê qué comigo?
        	<br>Você agora quer ser
        	<br>Meu amigo!
        	<br>Você não entende de sonho
        	<br>Você não entende de farra
        	<br>Você não entende de vinho
        	<br>Você não entende de barra
        	<br>Qué que cê qué...
        	<br>Tua vida tá mal
        	<br>Teus amigos sumiram
        	<br>Você não tá no jornal
        	<br>Oque cê diz é mentira
        	<br>Qué que cê qué...
        	<br>Você só anda torto
        	<br>Você não tem namorada
        	<br>Você é um vivo morto
        	<br>Você é um pá virada
        	<br>Qué que cê qué...
        	<br>Vê se chega pra lá
        	<br>Com esse olhar de vampiro
        	<br>Vê se arranja um lugar
        	<br>Eme deixa tranquila
        	<br>Qué que cê qué?
        	<br>Qué que cê qué comigo?
        	<br>Você agora quer ser
        	<br>Meu amigo!</p>
          </div>
        </li>
        <li class="song"><strong>Vestidim</strong> (Zé de Riba)
          <div>
            <p>A madrinha fez um vestido de chita pra mim
          	<br>A madrinha fez um vestido de chita pra mim
          	<br>Eu fui à missa de domingo
          	<br>Vestida no meu vestidim
          	<br>Quando dei fé, um rapaz piscando assim
          	<br>Quando dei fé, um rapaz piscando assim
          	<br>Era o meu vestidim
          	<br>Era o meu vestidim
          	<br>O meu vestidim era todo floreado
          	<br>Parecia até um quadro de Van Gogh para mim
          	<br>Era tão lindim, tinha um babado de lado
          	<br>Atrás era decotado, foi presente do meu padrim
          	<br>Eu tinha quatorze anos conheci esse rapaz
          	<br>Eu tinha quatorze anos conheci esse rapaz
          	<br>Que se apaixonou por mim
          	<br>E por meu vestidim
          	<br>E namoramos muito tempo
          	<br>Que chegamos ao casamento
          	<br>E na lua de mel
          	<br>Fui vestida no meu vestidim
          	<br>Quando era noite na hora de dormir
          	<br>Era ele quem tirava o meu lindo vestidim</p>
          </div>
        </li>
        <li class="song"><strong>Não tenho culpa se você não sabe sambar</strong> (Zé de Riba)
          <div>
          	<p>Não tenho culpa se você não sabe sambar
          	<br>Se pelo menos você aprendesse o miudinho
          	<br>Que é um samba fino que fica no calcanhar
          	<br>Você me deixa assim
          	<br>Numa situação
          	<br>Não dança jazz nem baião
          	<br>Ainda põe culpa em mim
          	<br>Aprenda o miudinho acabe com a solidão
          	<br>O samba é um santo remédio pro coração</p>
          </div>
        </li>
        <li class="song"><strong>Meu querido Santo Antônio</strong> (Carlos Careqa)
          <div>
          	<p>Meu querido Santo Antonio
          	<br>Me arranja um amor
          	<br>Meu bonzinho São Toninho
          	<br>Me dá uma colher de chá
          	<br>Meu coração pequenininho
          	<br>Já não agüenta mais sofrer
          	<br>Meu querido Santo Antonio
          	<br>Vem aqui me socorrer
          	<br>Abre bem os meus olhos
          	<br>Seca a minha ambição
          	<br>Mostra-me o que é bonito
          	<br>Sem me dar perturbação
          	<br>Deixa que eu sinta o vento
          	<br>Soprar em minha direção
          	<br>Me concede essa graça
          	<br>Me dá a tua proteção
          	<br>Tô saindo de fininho
          	<br>Que é pra não lhe incomodar
          	<br>Mas não esquece seu Toninho
          	<br>Uma maneira de ajudar
          	<br>Sei que fui um sonhador
          	<br>Sei que fui um tafetá
          	<br>Hoje quero bem mansinho
          	<br>Alguém pra me acompanhar</p>
          </div>
        </li>
        <li class="song"><strong>Cantiga Antiga</strong> (Dimitri Bentok)
          <div>
          	<p>Não venha me dizer que se cansou
          	<br>Da vida e das canções que eu te dou
          	<br>Tudo porque você cresceu
          	<br>Enquanto eu cantava assim
          	<br>Não venha cá tutu marambá
          	<br>Não venha cá
          	<br>E a cantiga que embalava o seu coração
          	<br>Agora parece dizer
          	<br>Palavras antigas sem graça pra nós
          	<br>Encantos, espantos, palhaços sem voz
          	<br>Mil sonhos perdidos num mundo real
          	<br>De que valeriam no seu carnaval?
          	<br>E se a vida então te convidar
          	<br>A mais uma ilusão abandonar
          	<br>E aquela rua tão sem cor
          	<br>Hoje ilumina a minha dor
          	<br>E eu nem sabia ladrilhar
          	<br>Eu nem sabia
          	<br>Serão estrelas decadentes a pousar no chão
          	<br>Não são vaga-lumes neon
          	<br>Nem chuva de prata
          	<br>Nem poças de mel
          	<br>São cacos de vidro que caem do céu
          	<br>Mil dias seguintes
          	<br>Passando por mês
          	<br>E	o tempo acordando e brincando com você</p>
          </div>
        </li>
        <li class="song"><strong>Outros tempos</strong> (Joca Freire e João Marcondes)
          <div>
            <p>Que noite linda
          	<br>Eu ia descendo a ladeira
          	<br>A cidade inteira
          	<br>Era um mar de alegria
          	<br>Gente na praça
          	<br>Fazendo folia, cantando
          	<br>As estrelas brilhando
          	<br>Me lembravam o seu olhar
          	<br>Parecia carnavais
          	<br>De outros tempos
          	<br>Pierrôs e colombinas
          	<br>Namoravam ao luar
          	<br>Versos recitados
          	<br>Com amor
          	<br>E sentimento
          	<br>Por um cirandeiro a passar
          	<br>Tanta felicidade despertou
          	<br>Que a vida fez sentido outra vez
          	<br>Quando a luz do poste voltou
          	<br>A cidade entristeceu mais uma vez</p>
          </div>
        </li>
        <li class="song"><strong>Mais um conselho</strong> (Zé de Riba)
          <div>
            <p>Cuidado com que você vai fazer
          	<br>Pra não sofrer mais tarde
          	<br>Cuidado com que você vai fazer
          	<br>Pra não sofrer mais tarde
          	<br>Pare, pense um pouco, reflita
          	<br>Que as coisas não se resolvem assim
          	<br>Ninguém vive de briga
          	<br>Melhor é acalmar
          	<br>A vida é tão bonita
          	<br>É só conversar
          	<br>Puxa a cadeira, senta
          	<br>Deixa o temporal passar
          	<br>O amor é um cinema
          	<br>Um filme de Almodóvar</p>
          </div>
        </li>
        <li class="song"><strong>Canção do Colo</strong> (Lucy Casas)
          <div>
          	<p>Não canto o sabiá nem o jasmim
          	<br>Só penso no tempo infindo do quando eu vim
          	<br>Do meu Brasil que já não é só luz e coqueiro
          	<br>Nem trigueiro nem de mim
          	<br>Mas mesmo assim, é tão grande a saudade
          	<br>Que a alegria pede licença, vai entardecer
          	<br>Evolto pra essas ruas minhas gentes
          	<br>De amores diferentes, tão sinceros, tão presentes
          	<br>Evivo toda a graça, a simpatia,
          	<br>Ocondão, a maravilha desse colo que é o Brasil
          	<br>Brasil meu amor, minha saudade
          	<br>Brasil, só queria te abraçar</p>

          </div>
        </li>
        <li class="song"><strong>Caradum cara do outro</strong> (Zé de Riba)
          <div>
            <p>Todo bicho tem a cara de Deus
          	<br>Deus é sabido também sabe assoviar
          	<br>Ocachorro late o macaco assovia
          	<br>Eu vi o tatu bola paquerando uma cotia
          	<br>Vixe Maria, Deus é todo popular
          	<br>O repentista que vem lá de Nova York
          	<br>Chegou afirmar que Deus é bom de bola
          	<br>E na escola aprendeu a multiplicar
          	<br>Na geografia, aprendeu a navegar
          	<br>eea
          	<br>eeeeea
          	<br>Graças a Deus a gente fala toda hora
          	<br>Parece até sanduíche e Coca-Cola
          	<br>Graças a Deus a gente fala toda hora
          	<br>Parece até sanduíche e Coca-Cola
          	<br>Deus não é moço também sabe escutar
          	<br>E	não é moço também sabe escutar
          	<br>eea
          	<br>eeeeea
          	<br>Também falaram que ele é masculino
          	<br>É	feminino no jeito de pensar
          	<br>Eterno, barroco, moderno
          	<br>Toca baião e heavy metal sem parar
          	<br>Também falaram que ele é pai solteiro
          	<br>Negro, índio, metalúrgico, brasileiro
          	<br>Tem três filhos, mora na periferia
          	<br>E vende cachorro quente lá na freguesia
          	<br>eea
          	<br>eeeeea
          	<br>Todo bicho tem a cara de Deus
          	<br>Deus é sabido também sabe assoviar
          	<br>Eterno, barroco, moderno
          	<br>Toca baião e heavy metal sem parar</p>
          </div>
        </li>
        <li class="song"><strong>Somos todos irmãos</strong> (Lucy Casas)
          <div>
            <p>Somos todos irmãos
          	<br>De quem?
          	<br>Somos todos irmãos
          	<br>De quem?
          	<br>Todo mundo é igual perante a lei
          	<br>Todo mundo é igual na biologia
          	<br>Todo mundo é igual hoje em dia
          	<br>Todo mundo é igual, isso eu já sei
          	<br>Mas que tem diferença, isso tem
          	<br>Mas que tem diferença, isso tem
          	<br>Vira o jogo Mane! Muda de vida!
          	<br>Vende o Carro e anda a pé
          	<br>Vira o jogo Mane! Muda de vida!
          	<br>Vende o Carro e anda a pé
          	<br>Como é que fica, Mané?
          	<br>Como é que fica, Maria?
          	<br>Como é que fica (o) Mané?
          	<br>Como é que fica (a) Maria?
          	<br>Como que fica?
          	<br>O que é que fica?</p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>


<div class="grid_2 last">
  <%= render :partial => "layouts/download_form" %>
</div>
<script type="module">

import $ from "jquery"
document.addEventListener("turbo:load", function() {
  $(".albuns img").click(function (event) {
    $(".albuns img").removeClass("album-selected")
    $(this).addClass("album-selected")
    $(".album").hide()
    $("#album-" + event.target.id).show()
  })

  $(function () {
    $(".song").click(function () {
      $(this).find("div").toggle()
    })
    $(".album").hide()
    $("#album-eueela").show()
  })

});


</script>
