<div class="grid_8">
	<center>

<table  border="1" cellspacing="0" cellpadding="5">
	<tr>
		<th>Nome</th>
		<th>Email</th>
		<th>Data</th>
		<th>Visitas</th>
	</tr>
	<% if !@visitors.blank? %>
	  <% for item in @visitors %>
			<tr>
				<td><%= item.name %></td>
				<td><%= item.email %></td>
				<td><%= item.updated_at %></td>
				<td><%= item.phone %></td>
			</tr>

	  <% end %>
	<% else %>

	<% end %>

</table>
<tr>
	<td>Total: <%= @visitors.size %></td>
</tr>
</center>

</div>
